@import url('https://fonts.googleapis.com/css2?family=Trirong&display=swap');

/* Grouping selector for all headings */
h1, h2, h3, h4, h5, h6 {
  font-family: var(--heading-font); 
  color: var(--primary-color); 
}


header {
  padding: 20px; /* Adds padding to the header */
  background-color: var(--accent-color); /* Sets the background color of the header using your selected accent color */
}

/* Paragraph */
p {
  padding: 25px; /* Adds padding to paragraphs */
}

/* navigation */
nav {
  background-color: var(--nav-background-color);
  font-size: 1.2rem;
  display: flex;
}

nav a {
  display: block;
  color: var(--nav-link-color);
  text-decoration: none;
  padding: 1rem;
}

nav a:link, nav a:visited {
  color: var(--nav-link-color);
}

nav a:hover {
  color: var(--nav-hover-link-color);
  background-color: var(--nav-hover-background-color);
}


body {
  font-family: var(--paragraph-font);
  max-width: 960px;
  padding: 20px;
}

:root {
  --primary-color: #ff6700;
  --secondary-color: #ebebeb;
  --accent-color: #c0c0c0;
  --additional-accent-color: #3a6ea5;
  
  --heading-font: 'Trirong', sans-serif;
  --paragraph-font: 'Trirong', sans-serif;
  
  --nav-background-color: #004e98;
  --nav-link-color: #ebebeb;
  --nav-hover-link-color: #ffffff;
  --nav-hover-background-color: #3a6ea5;
}

  